body{
  background-color: #232323;
}

div{
  margin-top: 35px;
  text-align: center;
  color:white;

}

button{
  background-color: rgb(86, 4, 192);
  border-radius: 8px;
  color:white;
  width: 50%;
  height: 50%;
  font-size: 15em;
  text-align: center;
  border-width: 8px;
  border: none;
}

p{
  font-size: 15em;
}